<div class="signup-container">
  <h2>Customer Signup</h2>
 
 
  <div *ngIf="successMessage" class="success-msg">
      {{ successMessage }}
  </div>
 
  <form (ngSubmit)="onSignup()" #signupForm="ngForm" novalidate>
 
    <div class="form-group">
      <input type="text" name="name" [(ngModel)]="name" placeholder="Name" required #nameInput="ngModel" />
      <div *ngIf="nameInput.invalid && nameInput.touched" class="error-msg">
        Name is required.
      </div>
    </div>
 
    <div class="form-group">
      <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|in|org|net)$" #emailInput="ngModel" />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-msg">
        Enter a valid email address.
      </div>
    </div>
 
    <div class="form-group">
      <input type="password" name="password" [(ngModel)]="password"
        placeholder="Password (min 8 characters,1 uppercase,1 special character)" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #passwordInput="ngModel" />
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-msg">
        Password must be at least 8 characters, include uppercase, number, and special character.
      </div>
    </div>
 
    <div class="form-group">
      <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" placeholder="Phone Number"
        pattern="^[6-9][0-9]{9}$" required #phoneInput="ngModel" />
      <div *ngIf="phoneInput.invalid && phoneInput.touched" class="error-msg">
        Enter a valid 10-digit phone number starting with 6-9.
      </div>
    </div>
 
    <div *ngIf="errorMessage" class="error-msg server-error">
      {{ errorMessage }}
    </div>
 
    <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    <div class="text-center mt-3">
        <a routerLink="/login" class="text-decoration small">Already have an account? Login</a>
      </div>
  </form>
</div>