<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">

    <div class="container">
     
      <a class="navbar-brand lenscart-logo" routerLink="/">👓 Lens<span class="text-primary">Cart</span></a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
  
          
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Order">orders</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  
  <router-outlet></router-outlet>
  <!-- <footer class="bg-dark text-white text-center p-3 mt-5">
    <p class="mb-0">© 2025 LensCart. All rights reserved.</p>
  </footer> -->
  
  