<app-header></app-header>
<div class="container my-4">
    <div class="row">
  
      <div class="col-md-3">
        <div class="card p-3 shadow-sm">
          <h5 class="fw-bold">Filter by</h5>
  
          <label class="form-label mt-3">Brand</label>
          <select class="form-select" [(ngModel)]="selectedBrand" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
          </select>
  
          <label class="form-label mt-3">Color</label>
          <select class="form-select" [(ngModel)]="selectedColor" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
          </select>
  
          <label class="form-label mt-3">Price</label>
          <select class="form-select" [(ngModel)]="selectedPriceRange" (change)="applyFilters()">
            <option value="">All</option>
            <option value="below1000">Below ₹1000</option>
            <option value="1000to2000">₹1000 – ₹2000</option>
            <option value="above2000">Above ₹2000</option>
          </select>
        </div>
      </div>
  
      <div class="col-md-9">
        <div class="frame-container">
          <div class="frame-card" *ngFor="let lens of filteredLenses">
            <img [src]="lens.lensImage || 'assets/lens-placeholder.jpg'" alt="Lens Image" class="frame-img">
            <h3>{{ lens.shape }}</h3>
            <p><strong>Brand:</strong> {{ lens.brand }}</p>
            <p><strong>Color:</strong> {{ lens.colour }}</p>
            <p><strong>Price:</strong> ₹{{ lens.price }}</p>
            <p><strong>Qty:</strong> {{ lens.quantity }}</p>
            <p class="card-text"><strong>Available:</strong> {{ lens.quantity }}</p>
<div *ngIf="lens.quantity>0;else Out Of Stock">
          <button class="btn btn-outline-primary mt-auto" (click)="addToCart(lens)">
            Add to Cart
          </button>
          </div>
          <ng-template #Out Of Stock>
<span style="color:red;font-weight: bold;">Out Of Stock</span>
          </ng-template>
  
            <!-- <button (click)="addToCart(lens)" class="add-cart-btn">Add to Cart</button> -->
          </div>
        </div>
      </div>
  
    </div>
  </div>
  