<!-- Sidebar container -->
<div class="sidebar" [class.closed]="!isVisible">
  <button class="toggle-btn" (click)="toggleNavbar()">
    {{ isVisible ? '✕' : '☰' }}
  </button>

  <!-- <div class="logo">
    <img src="assets/image/logo.png" alt="Logo" />
    <span>Admin Panel</span>
  </div> -->
  <div class="logo">
  <img src="assets/image/logo.png" alt="Logo" />
  <div class="panel-label">Admin Panel</div>
  <hr class="logo-divider" />
</div>


  <nav>
    <a routerLink="/admin-dashboard" routerLinkActive="active">
      <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
    <a routerLink="/admin/frames-management" routerLinkActive="active">
      <i class="fas fa-box"></i> Frames
    </a>
    <a routerLink="/admin/glasses-management" routerLinkActive="active">
      <i class="fas fa-box"></i> Glasses
    </a>
    <a routerLink="/admin/lenses-management" routerLinkActive="active">
      <i class="fas fa-box"></i> Lenses
    </a>
    <a routerLink="/admin/sunglasses-management" routerLinkActive="active">
      <i class="fas fa-box"></i> Sunglasses
    </a>
    <a routerLink="/admin/orders-management" routerLinkActive="active">
      <i class="fas fa-shopping-cart"></i> Orders
    </a>
    <a routerLink="/login" routerLinkActive="active">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </nav>
</div>
