<app-header></app-header>
<div class="container my-4">
    <div class="row">
      <!-- Sidebar Filters -->
      <div class="col-md-3">
        <div class="card p-3 shadow-sm">
          <h5 class="fw-bold">Filter by</h5>
  
          <label class="form-label mt-3">Brand</label>
          <select class="form-select" [(ngModel)]="selectedBrand" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
          </select>
  
          <label class="form-label mt-3">Frame Color</label>
          <select class="form-select" [(ngModel)]="selectedFrameColor" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let color of frameColors" [value]="color">{{ color }}</option>
          </select>
  
          <label class="form-label mt-3">Price</label>
          <select class="form-select" [(ngModel)]="selectedPriceRange" (change)="applyFilters()">
            <option value="">All</option>
            <option value="below1000">Below ₹1000</option>
            <option value="1000to2000">₹1000 – ₹2000</option>
            <option value="above2000">Above ₹2000</option>
          </select>
        </div>
      </div>
  
  
      <!-- Sunglass Cards -->
      <div class="col-md-9">
        <div class="frame-container">
          <div class="frame-card" *ngFor="let s of filteredSunglasses">
            <!-- <img [src]="lens.lensImage || 'assets/lens-placeholder.jpg'" alt="Lens Image" class="frame-img"> -->
            <img [src]="s.image || 'assets/sunglass-placeholder.jpg'" alt="Sunglass" class="frame-img"/>
            <h3>{{ s.sunGlassName }}</h3>
            <p><strong>Brand:</strong> {{ s.brand }}</p>
            <p><strong>Frame Color:</strong> {{ s.frameColor }}</p>
            <p><strong>Shape:</strong> {{ s.frameShape }}</p>
            <p><strong>Glass Color:</strong> {{ s.glassColor }}</p>
            <p><strong>Price:</strong> ₹{{ s.price }}</p>
            <p class="card-text"><strong>Available:</strong> {{ s.quantity }}</p>
<div *ngIf="s.quantity>0;else Out Of Stock">
          <button class="btn btn-outline-primary mt-auto" (click)="addToCart(s)">
            Add to Cart
          </button>
          </div>
          <ng-template #Out Of Stock>
<span style="color:red;font-weight: bold;">Out Of Stock</span>
          </ng-template>
  
            <!-- <button (click)="addToCart(s)" class="add-cart-btn">Add to Cart</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  